@import 'tailwindcss';
@import './base.css';

html,
body,
#app {
  font-family: 'Chakra Petch', sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
}

@theme {
  --primary-bg: #0f0f0f;
  --primary-text: #ffffff;
  --primary-blue: #4145f8;
  --primary-gray: #1f201b;
  --primary-line: #737373;
  --primary-textcolor: #333333;
  --line-color: #3c3c3c;
  --ascii-art: #545454;
}
